@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<body>
    <form asp-action="Register" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FullName"></label>
            <input asp-for="FullName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <div class="input-group">
                <input asp-for="Password" class="form-control" type="password" id="passwordField" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" id="togglePasswordBtn">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <div class="input-group">
                <input asp-for="ConfirmPassword" class="form-control" type="password" id="confirmpasswordField" />
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" id="toggleconfirmPasswordBtn">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Hinh" class="control-label"></label>
            <input type="file" name="Hinh" class="form-control" />
        </div>


        <span>
            Bạn đã có tài khoản? Hãy
            <a href="@Url.Action("Login", "Accounts")">Đăng nhập</a>
        </span>
        <br>
        <button type="submit" class="btn btn-primary" href="/Accounts/Main.cshtml">Register</button>
        </br>
    </form>
    <footer id="footer" class="overflow-hidden">
        <div class="container">
            <div class="row">
                <div class="footer-top-area">
                    <div class="row d-flex flex-wrap justify-content-between">
                        <div class="col-lg-3 col-sm-6 pb-3">
                            <div class="footer-menu">
                                <img width="300px" width="300px" src="~/images/BaboonStore.png" alt="logo">
                                <p>Baboon Store tư vấn theo cách của chúng tôi, chọn lựa theo cách của bạn.</p>
                                <div class="social-links">
                                    <ul class="d-flex list-unstyled">
                                        <li>
                                            <a href="#">
                                                <svg class="facebook">
                                                    <use xlink:href="#facebook" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <svg class="instagram">
                                                    <use xlink:href="#instagram" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <svg class="twitter">
                                                    <use xlink:href="#twitter" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <svg class="linkedin">
                                                    <use xlink:href="#linkedin" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <svg class="youtube">
                                                    <use xlink:href="#youtube" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 pb-3">
                            <div class="footer-menu text-uppercase">
                                <h5 class="widget-title pb-2">Quick Links</h5>
                                <ul class="menu-list list-unstyled text-uppercase">
                                    <li class="menu-item pb-2">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="menu-item pb-2">
                                        <a href="#">About</a>
                                    </li>
                                    <li class="menu-item pb-2">
                                        <a href="#">Shop</a>
                                    </li>
                                    <li class="menu-item pb-2">
                                        <a href="#">Blogs</a>
                                    </li>
                                    <li class="menu-item pb-2">
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 pb-3">
                            <div class="footer-menu text-uppercase">
                                <h5 class="widget-title pb-2">Help & Info Help</h5>
                                <ul class="menu-list list-unstyled">
                                    <li class="menu-item pb-2">
                                        <a href="#">Track Your Order</a>
                                    </li>
                                    <li class="menu-item pb-2">
                                        <a href="#">Returns Policies</a>
                                    </li>
                                    <li class="menu-item pb-2">
                                        <a href="#">Shipping + Delivery</a>
                                    </li>
                                    <li class="menu-item pb-2">
                                        <a href="#">Contact Us</a>
                                    </li>
                                    <li class="menu-item pb-2">
                                        <a href="#">Faqs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 pb-3">
                            <div class="footer-menu contact-item">
                                <h5 class="widget-title text-uppercase pb-2">Contact Us</h5>
                                <p>
                                    Do you have any queries or suggestions? <a href="mailto:">walkeralan620@gmail.com</a>
                                </p>
                                <p>
                                    If you need support? Just give us a call. <a href="">+84 032 576 0816</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </footer>
    <div id="footer-bottom">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-between">
                <div class="col-md-4 col-sm-6">
                    <div class="Shipping d-flex">
                        <p>We ship with:</p>
                        <div class="card-wrap ps-2">
                            <img src="~/images/dhl.png" alt="visa">
                            <img src="~/images/shippingcard.png" alt="mastercard">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="payment-method d-flex">
                        <p>Payment options:</p>
                        <div class="card-wrap ps-2">
                            <img src="~/images/visa.jpg" alt="visa">
                            <img src="~/images/mastercard.jpg" alt="mastercard">
                            <img src="~/images/paypal.jpg" alt="paypal">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="copyright">
                        <p>
                            © Copyright 2023 MiniStore. Design by <a href="https://templatesjungle.com/">TemplatesJungle</a> Distribution by <a href="https://themewagon.com">ThemeWagon</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/MiniStore-1.0.0/js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="~/MiniStore-1.0.0/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/MiniStore-1.0.0/js/plugins.js"></script>
    <script type="text/javascript" src="~/MiniStore-1.0.0/js/script.js"></script>
    </br>
</body>
<script>
    $(document).ready(function () {
        $('#togglePasswordBtn').on('mousedown', function () {
            $('#passwordField').attr('type', 'text');
        });

        $('#togglePasswordBtn').on('mouseup mouseleave', function () {
            $('#passwordField').attr('type', 'password');
        });
    });
    $(document).ready(function () {
        $('#toggleconfirmPasswordBtn').on('mousedown', function () {
            $('#confirmpasswordField').attr('type', 'text');
        });

        $('#toggleconfirmPasswordBtn').on('mouseup mouseleave', function () {
            $('#confirmpasswordField').attr('type', 'password');
        });
    });
</script>